extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Img sobre nosotros", class="img-fluid") 
            .col-md-7
                h1 #{pagina}

                blockquote
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien felis. Pellentesque dui ligula, posuere a volutpat in, blandit viverra risus. Aenean venenatis blandit mauris bibendum cursus. Vivamus id nunc sit amet erat pretium dictum ut ut quam. Aliquam varius nisl ac malesuada sodales. Donec placerat ac tellus non tempus. Sed blandit porta enim, vitae ornare sapien imperdiet ac.

                p 
                    | Sed scelerisque dolor sem, ac fringilla nisl sagittis laoreet. Morbi aliquet purus sit amet nibh posuere molestie. Phasellus euismod finibus nulla, non imperdiet urna gravida nec. Proin mollis nisi at nisi lobortis feugiat. Quisque facilisis orci id condimentum vestibulum. Pellentesque vel consectetur purus, et volutpat dolor. Phasellus faucibus ipsum eu elit posuere accumsan. Aenean tristique lacinia diam vehicula lacinia. Nam elementum consequat lobortis. Sed turpis metus, varius sit amet massa vitae, tristique ultricies nunc. Donec ut est non dolor aliquet dignissim vel vel augue. Nunc velit tellus, vehicula ac luctus eget, ultrices non mi. Integer quis diam feugiat, cursus neque ut, congue magna. Maecenas vitae ultrices turpis, vitae volutpat neque.

                p 
                    | Fusce fringilla eros vel sem interdum bibendum. In sem eros, ultricies vitae nulla quis, interdum vestibulum arcu. Sed tristique tristique sodales. Fusce gravida, tellus vitae lacinia porttitor, diam orci molestie enim, vel molestie mauris risus ac ipsum. Aliquam ut tristique tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu purus eros. Cras eu urna orci. Vestibulum in pretium leo. Nunc vitae porttitor risus. Suspendisse aliquet eros urna, aliquam pretium arcu cursus imperdiet. Suspendisse quis aliquet mauris. Fusce venenatis sagittis elementum.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p 
                        | Suspendisse aliquet eros urna, aliquam pretium arcu cursus imperdiet. Suspendisse quis aliquet mauris. Fusce venenatis sagittis elementum.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p 
                        | Suspendisse aliquet eros urna, aliquam pretium arcu cursus imperdiet. Suspendisse quis aliquet mauris. Fusce venenatis sagittis elementum.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p 
                        | Suspendisse aliquet eros urna, aliquam pretium arcu cursus imperdiet. Suspendisse quis aliquet mauris. Fusce venenatis sagittis elementum.                                    